body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: none;
    background-color: #5a6aff;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}





/* ------------ Box Sizing ------------*/

*,
*::before,
*::after {
  box-sizing: border-box !important;
}





/* ---------------- Main Block -----------------*/

main{
    height: 90%;
    max-height: 450px;
    max-width: 800px;
    min-width: 800px;
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




/* --------------- Left Block --------------- */

main .left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

main .left img{
    width: 290px;
}




/* -------------- Right Block -----------------*/

main .right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}





/* ------------- Message Box --------------*/

main .right .message-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .right .message-box h1{
    margin: 0px 0px 5px;
    font-size: 1.6rem;
    word-spacing: 3px;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #3b3b3b;
}

main .right .message-box span{
    font-size: 0.9rem;
    word-spacing: 1px;
}




/* ------------ Login with Google ----------- */

main .right .login-with-google{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .right .login-with-google button{
    height:40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border: 0px;
    box-shadow: 0px 0px 1px 0px #000000;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.95rem;
    word-spacing: 1px;
    letter-spacing: 0.1px;
}

main .right .login-with-google button:hover{
    background-color: #e7e7e7;
}

main .right .login-with-google button:active{
    scale:calc(1.01)
}

main .right .login-with-google img{
    height: 30px;
    width: 30px;
    margin-right: 12px;
}




/* --------------- Username -------------- */
/* --------------- Password -------------- */


.username ,
.password{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* ------- Label ------ */
.username label,
.password label{
    display: block;
    width: 90%;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 3px;
}


/* -------- Input ---------*/
.username input,
.password input{
    width: 90%;
    border: 2px solid #a8a8a8;
    /* box-shadow: 0px 0px 1px 0px #676767; */
    border-radius: 5px;
    padding: 10px 10px;
    outline-color: blue;
}





/* --------- Forget Password --------*/

.password a{
    width: 90%;
    text-align: right;
    text-decoration: none;
    font-size: 0.85rem;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin-top: 5px;
    font-weight: 400;
}





/* ------------- Login ---------------*/

.login{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login button{
    width: 90%;
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.login button:hover{
    background-color: #2e2eff;
}

.login button:active{
    scale: calc(1.01)
}

.login span{
    margin-top: 6px;
    font-size: 0.85rem;
    text-align: center;
    word-spacing: 2px;
}

.login span a{
    text-decoration: none;
}




/* ------------ Responsiveness ------------ */

@media screen and (max-width: 700px){
    
}